@using Redmine.Models
@{
    Layout = "";
    ViewBag.Title = "Login";

}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Redmine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/web/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/web/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/Content/web/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/web/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/Content/web/js/jquery-1.10.2.min.js"></script>
    <!--clock init-->
</head>
<body>
    <!--/login-->

    <div class="error_page">
        <!--/login-top-->

        <div class="error-top">
            <h2 class="inner-tittle page">Redmine</h2>
            <div class="login">
                <h3 class="inner-tittle t-inner">Login</h3>
                <div class="buttons login">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input id="Email" name="Email" type="text" class="text" value="E-mail address" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>

                    <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" autocomplete="off" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    <div class="submit"><input type="submit" value="Login"></div>
                    <div class="clearfix"></div>

                    <div class="new">
                        <p>
                            <label class="checkbox11">
                                <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                <input name="RememberMe" type="hidden" value="false">
                                <i> </i><label for="RememberMe">Remember me?</label>
                            </label>
                        </p>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register") | 
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                }
            </div>
        </div>


        <!--//login-top-->
    </div>

    <!--//login-->
    <!--footer section start-->
    <div class="footer">
        <p>&copy 2020 Redmine . All Rights Reserved</p>
    </div>
    <!--//login-->
    <!--footer section end-->
    <!--/404-->
    <!--js -->
    <script src="~/Content/web/js/jquery.nicescroll.js"></script>
    <script src="~/Content/web/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/web/js/bootstrap.min.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>