@model IEnumerable<BookStoreAdmin.Models.Sache>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

@{
    int i = 0;
}

@foreach (var item in Model)
{
    <div class="templatemo_product_box">
        <h1>@item.TenSach <span>(@item.TacGia)</span></h1>
        <img src="~/Content/images/@item.AnhDaiDien" alt="image" width="100px" height="150px" />
        <div class="product_info">
            <p>@item.MoTa</p>
            <h3>@item.GiaBan</h3>
            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
            <div class="detail_button">@Html.ActionLink("Detail","Detail","Home",new {id = item.Id},null)</div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>

    if (i % 2 == 0)
    {
        <div class="cleaner_with_width">&nbsp;</div>
    }
    else
    {
        <div class="cleaner_with_height">&nbsp;</div>
    }
    i++;
}
<a href="subpage.html"><img src="~/Content/images/templatemo_ads.jpg" alt="ads" /></a>